    <!-- About Section -->
    <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Clients we’ve worked for:</h2>
                </div>
            </div>
        <div class="row">
             <div class="col-lg-12">
                 <section class="section_clients clients">        
                    <ul class="clients__list">
                       <li class="client">
                         <a href="https://software.intel.com/">
                         <img class="client__logo" src="img/clients/is.jpg">
                         </a>
                        </li>                
                     </ul>
                </section>
             </div>
        </div>
    </section>